      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span6">
          <div class="hero-unit">
            <h1>Building Capacity:</h1>
	    <h2>Modeling in 7-12 Curriculum</h2>
	    <p>
	      Mathematics is where critical thinking and computational
	      skill come together. The surprise is that something that
	      sometimes seems so abstract ends up can explain the real
	      world.</p>
	    <p>
	    In this course you will build the capacity for viewing the
	    world through a mathematical lens. This will open doors
	    for your future studies and career.
          </div>
        </div>
        <div class="span6">
          <div class="bigverb"><a href="/explorations">Explore <span class="bignoun">the
          problems</span></a></div>
	  <div class="bigverb"><a href="https://class.coursera.org/calc1-001/lecture/index">Watch <span class="bignoun">the videos</span></a></div>
	  <div class="bigverb"><a href="/exercises">Practice <span class="bignoun">your skills</span></a></div>
          <div class="bigverb"><a href="https://class.coursera.org/calc1-001/forum/index">Discuss <span class="bignoun">your solutions</span></a></div>
        </div>
      </div>
