<div class="page-header">
  <h1>Traffic Lights!  <small>How long should a traffic light stay on yellow? You be the judge.

</small></h1>
</div>
<p>
A traffic light has recently been installed on a busy
street. Remember:
<ul>
<li> A <b>green</b> light means "go."
<li> A <b>red</b> light means "stop."
<li> A <b>yellow</b> light is a transition between a green light and
a red light. 
</ul>
When the driver sees a yellow light, they must make a decision:
<p>
<center>
<b>Should the driver slow down and stop at the impending red light?</b>
</center>
</p>
OR
<p>
<center>
<b>
Should the driver speed up and pass through the intersection?</b>
</center>
</p>
Let's see how you do at making this decision. To start it depends on
how fast your reflexes are. Devise an experiment to test your
reflexes.
</p>



EXPLORATION 
(YOU CONTROL WHETHER THE CAR GOES THROUGH INTERSECTION)

NOTE WE COULD DO A INTERACTIVE VIDEO AT THIS POINT

<p>
You have been put in charge of deciding how long a light stays yellow.
You want to help drivers safely pass through the intersection. 
</p>

EXPLORATION
(YOU CONTROL LIGHT)


<h3>When is it possible to safely stop?</h3>

<p>
We start with the following equation
\[
x= v_0t+ \frac{at^2}{2}
\]
Here
<ul>
<li> \(v_0\) = the initial velocity
<li> \(a\) = the acceleration
<li> \(t\) = the time that has passed
<li> \(x\) = how far you've gone
</ul>
</p>

<h4>Distance traveled during reaction time.</h4>

We want to know how far the driver goes when reacting to the light. 

<h4>Distance traveled while braking.</h4>


<h4>Total braking distance.</h4>


<h3>When must the driver accelerate through the intersection?</h3>




